DOCKERD=/usr/bin/dockerd

DOCKER_OPTS=" --data-root {{docker_data_dir}} --bip={{docker_boot_ip}} \
  -H 127.0.0.1:2376 -H {{hostvars[inventory_hostname]['ansible_' + docker_interface].ipv4.address}}:2376 -H unix:///var/run/docker.sock \
  --cluster-advertise {{docker_interface}}:2376 \
  --cluster-store etcd://localhost:2379 \
"
